*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
	display: flex;
	flex-direction: column;

}



body{
	background-color: #f1f5f8;
	font-family: 'Roboto';
}

.nav-center{
	display: flex;
	padding: 20px 0px 10px 0px;
	background-color: #f1f5f8;

}
.nav-links{
	display: flex;
	width: 100%;

}
.nav-links li{
	flex: 0 1 50%;
	text-align: center;
	font-size: 24px;
	letter-spacing: 3px;
}

.active {
	color: rgb(187, 2, 2);
}
main{
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.container{
	text-align: center;
	padding: 0 10px;
}

.container h2{
	background-color: black;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 34px;
	margin-bottom: 50px;
}

.btn{
	padding: 15px 25px;
	border-radius: 10px;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 22px;
	border: 1px solid black;
	letter-spacing: 6px;
	text-transform: uppercase;
}